.autocomplete-suggestions { border: 1px solid #ccc; background: #777; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #999; }
.autocomplete-suggestions strong { font-weight: normal; color: #FEEB0B; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }