ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/*ul label {*/
    /*display:inline-block;*/
    /*width: 100px;*/
    /*font-weight: bold;*/
/*}*/

ul li {
    padding: 10px;
}

ul li:hover {
    background-color: #444;
}

ul li .expanded { margin: 0px; display: block; width: 100%; height: 100%; }

.cursorPointer {
    cursor: pointer;
}

.right {float: right;}
.left {float: left;}

#characterList {
    border:3px solid;
    border-color: #FEEB0B;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #E1562D;
    max-height: 300px;
    max-width: 250px;
    width: 250px;
    overflow: auto;
    margin: 10px;
    float: left;
    clear: left;
}

#characterView {
    border:3px solid;
    border-color: #FEEB0B;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #E1562D;
    max-width: 500px;
    width: 500px;
    overflow: auto;
    margin: 10px;
    float: left;
    /*clear: right;*/
}

.monospace {
    font-family:'Lucida Console', monospace;
    white-space: pre-wrap;
}

#centeredMainDiv {
    margin: 0 auto;
    text-align: left;
    width: 850px;
}