.cursorAlias{
    cursor: alias;
}

.cursorNotAllowed{
    cursor: not-allowed;
}

.cursorProgress{
    cursor: progress;
}

.cursorCell{
    cursor: progress;
}

.cursorDefault{
    cursor: default;
}
