span, td, th {
    font-size: 0.6875em;
	color: #000000;
}
h1 {
	color: #1E4E79;
	text-align: center;
	font-size: 1.0em;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
h2 {
	color:#2E75B5;
	text-align: center;
	font-size: 0.875em;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
h3 {
	color:#5B9BD5;
	text-align:left;
	font-size: 0.75em;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
th {
	border-bottom: solid 1px black;
}
table, th, td {
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0px 5px 0px 5px;
}

.attributeInput {
    
}