body {
	background-color: #21201E;
	color: #FEEB0B;
}
.rightBorder {
	background-image: url('../images/caution.png');
    background-repeat: repeat-y;
    background-position: right;    
    height: 100%;    
}

span, td, th {
    font-size: 0.9em;
	color: #FEEB0B;
}
h1 {
	color: #1E4E79;
	text-align: center;
	font-size: 1.5em;
	font-family: gearhead;
	background: -webkit-linear-gradient(#E1562D, #FEEB0B);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
h2 {
	color:#2E75B5;
	text-align: left;
	font-size: 1em;
	font-family: gearhead;
	background: -webkit-linear-gradient(#E1562D, #FEEB0B);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
h3 {
	color:#5B9BD5;
	text-align:left;
	font-size: 0.75em;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
th {
	border-bottom: solid 1px #FEEB0B;;
}
table, th, td {
	text-align: center;
	border: 1px solid #FEEB0B;;
	border-collapse: collapse;
	padding: 0px 5px 0px 5px;
}

.attributeInput {
	font-size: 0.9em;
	text-align: center;
    width: 65px;
}

@font-face {
	font-family: gearhead;
	src: url('gearhead.ttf');
}