/*----------------------------*/
/*------->>> GLOBAL <<<-------*/
/*----------------------------*/
html {
	height: 100%;
	width: 100%;
}
body {
	width: 100%;
	height: 100%;
	background-color: #e6e6e6;
	color: #29517b;
	font-size: 85%;
	/*text-transform: uppercase;*/
}
span, td, th {
  font-size: 0.9em;
	color: #29517b;	
}
h1 {
	color: #E1562D;
  letter-spacing: 2px;
	text-align: center;
	font-size: 1.5em;
	font-family: gearhead;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-shadow: 0px 0px  6px #29517b,
				-1px -1px 0 #29517b,  
    			1px -1px 0 #29517b,
    			-1px 1px 0 #29517b,
     			1px 1px 0 #29517b;

}
h2 {
  color: #e6e6e6;
  letter-spacing: 2px;
	text-align: left;
	font-size: 1em;
	font-family: gearhead;	
	padding: 2px;
	margin: 2px;	
	text-shadow: 0px 0px 6px #29517b,
				-1px -1px 0 #29517b,  
    			1px -1px 0 #29517b,
    			-1px 1px 0 #29517b,
     			1px 1px 0 #29517b;
}
h3 {
	color: #5B9BD5;
	text-align:left;
	font-size: 0.75em;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
h6 {
	color: #29517b;
	text-align: center;
	font-size: 0.75em;
	font-family: 'Oswald', sans-serif;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-shadow: 0px 0px  6px #E1562D;
}
th {
	border-bottom: solid 1px #29517b;
}
table, th, td {
	text-align: center;
	border: 1px solid #333;
	border-collapse: collapse;
	padding: 2px;
	margin: 2px;
}

input[type="text"] {
	color: #29517b;
	background-color: transparent;
	border: none;
  	border-bottom: solid 1px #ccc;
  	transition: border 0.3s;
	font-size: 0.9em;
}

input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 1px #666;
}

input[type="button"] {
	background-color: transparent;
	border-color: #29517b;
	border-radius: 5px;
	border-style: solid;
	color: #e6e6e6;
	cursor: pointer;
	font-family: gearhead;
  letter-spacing: 2px;
	padding: 2px;
	margin: 3px;
	text-shadow: 0px 0px 6px #29517b,
				-1px -1px 0 #29517b,  
    			1px -1px 0 #29517b,
    			-1px 1px 0 #29517b,
     			1px 1px 0 #29517b;
}
input[type="button"]:hover,
input[type="button"].hover {
	border-color: #29517b;
	color: #e6e6e6;
	cursor: pointer;  
  text-shadow: 0px 0px 12px #000,
        -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}

header {
    min-height: 6%;
}

nav {

}
section {
    clear: left;
}
footer {
}

/*----------------------------*/
/*------->>> CLASS <<<--------*/
/*----------------------------*/
/* .leftBorder {
    background-image: url('../images/cautionLeft.png');
    background-repeat: repeat-y;
    background-position: left;    
    height: 100%;
    position: relative;
    -webkit-animation: openLeft 1s 1;
    animation: openLeft 1s 1;
}
.rightBorder {
    background-image: url('../images/cautionRight.png');
    background-repeat: repeat-y;
    background-position: right;    
    height: 100%;
    position: relative;
}*/
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.attributeInput {	
	text-align: center;
    width: 25px;
}
.stringInput {	
	text-align: left;
    width: 130px;
}
.numericInput {	
	text-align: center;
    width: 30px;
}
#descriptionsDiv label {	
	display: inline-block;  
  color: #ddd;
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  padding: 2 0 2 0;
  margin: 0 0 0 0;
  text-shadow: 0px 0px  2px #000;
}
#descriptionsDiv input[type="text"] {  
  padding: 0 0 0 5;
  margin: 2 0 2 20;
}
#descriptionsDiv div {  
  margin: 2 2 2 2;
}
#buttons {
	float: left;
}
#descriptionsDiv, 
#attributesDiv, 
#equipmentDiv, 
#secondaryTraitsDiv,
#physicalStatusDiv,
#skillsDiv,
#movementSpeedDiv,
#weaponsDiv,
#armorDiv
{
	border: 2px solid #222;
	border-radius: 5px;
	float: left;
	padding-left: 5px;
	margin: 5px;
}
#attributesTable {
	width: 200px;	
}

#secondaryTraitsTable {
	width: 200px;	
}
.leftColumn {	
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.rightColumn {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.center {    
	background-color: #eee;
	border: 1px solid #29517b;
	border-radius: 15px;
	-moz-border-radius: 15px;
	font-size: 100%;	
	margin-left: auto;
    margin-right: auto;
    overflow-x: none;
    overflow-y: auto;
    padding: 4px;
    min-height: 85%;
    max-height: 85%;
    max-width: 90%;
    box-shadow: 5px 5px 15px #333;
}

.stringColumn {
	text-align: left;
}

.numericColumn {
	text-align: center;
}

a {
    text-decoration: none;
}